# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these written to a sibling directory, but sometimes lack of local privileges writes to these directories
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Streamlit config
.streamlit/

# Virtual Environments
.venv/
venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# Databases / local user data
profiles.json
ratings.json
